.rpg-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.map {
  margin-top: 150px;
  position: relative;
  background: #88c070;
  border: 4px solid #222;
}

.tile {
  position: absolute;
  width: 32px;
  height: 32px;
}

.floor {
  background: #9bd37d;
}

.wall {
  background: #3a3a3a;
}

.player {
  position: absolute;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  transform-origin: bottom left; /* pour que les pieds restent sur la case */
  transform: scale(2); /* ×2 pour passer de 16px à 32px */
}

