.rpg-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.map {
  margin-top: 150px;
  position: relative;
}

.tile {
  position: absolute;
  width: 32px;
  height: 32px;
}

.floor {
  background: #9bd37d;
}

.wall {
  background: #3a3a3a;
}

.player {
  position: absolute;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  /* transform-origin: bottom left; */
  transform: scale(2);
}
.tile {
  position: absolute;
  image-rendering: pixelated;
}